{* Latte template *}
{block content}
    <div id='main_panel' class="container-fluid">
        <div id='div_input'>
            <div>
                <h3 id="podnadpis_up">Zmena hesla</h3>
                {snippet updade_password}
                    {control updatePasswordForm}
                {/snippet}
            </div>
        </div>        


    </div>
{/block}
